body {
  background-color: #f0f7ee;
}
body.dark {
  background-color: #121212;
}
#darkmode {
  position: fixed;
  top: 75px;
  right: 20px;
  background-color: #f0f7ee;
  border-radius: 8px;
  font-size: 25px;
  border-color: black;
  border-width: 3px;
  text-align: right;
}

body.dark #darkmode {
  background-color: #121212;
  border-radius: 8px;
  font-size: 25px;
  border-color: #f0f7ee;
  border-width: 3px;
  color: #f0f7ee;
}

.navbar {
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
  border-bottom: 2px solid #516763;
  margin-bottom: 5%;
}
.navbar.dark {
  border-bottom: 2px solid #98d9c2;
}

.nav:link {
  font-size: 24px;
  margin: 100px;
  color: rgb(229, 8, 144);
}

.nav:visited {
  margin: 100px;
  color: #516763;
}

.nav:hover {
  color: rgb(254, 9, 54);
}

.nav:active {
  margin: 100px;
  color: rgb(91, 205, 3);
}

.nav.dark:link {
  font-size: 24px;
  margin: 100px;
  color: rgb(229, 8, 144);
}

.nav.dark:visited {
  margin: 100px;
  color: #abf7f3;
}

.nav.dark:hover {
  color: rgb(254, 9, 54);
}

.nav.dark:active {
  margin: 100px;
  color: rgb(91, 205, 3);
}

h1 {
  text-align: right;
  color: rgb(70, 80, 40);
  font-size: 3em;
}

h1.dark {
  color: #98d9c2;
}
p {
  color: rgb(60, 50, 30);
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5em;
  font-weight: 500;
  border-radius: 50%;
}
p.dark {
  color: #f0f7ee;
}
#contact {
  display: block;
  background-color: #f0f7ee;
  color: #516763;
  border-color: rgb(60, 50, 30);
  border-radius: 10px;
  margin: auto;
}
body.dark #contact {
  background-color: #121212;
  color: white;
  border-color: #98d9c2;
}
.mainContent {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.ghWindow {
  display: flex;
  position: relative;
  justify-content: center;
}
#ghPic {
  width: 90%;
  height: 50vh;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
}

#ghPic:hover {
  opacity: 0.5;
}
#ghPrompt {
  display: none;
  position: absolute;
  bottom: 40px;
}
#logo {
  position: absolute;
  width: 5%;
  left: 25px;
  top: 5px;
}

@media (max-width: 600px) {
  body {
    max-width: 100%;
  }
  html,
  body {
    overflow-x: hidden;
  }

  #darkmode {
    color: #121212;
    top: 5px;
  }
  .navbar {
    text-align: center;
    position: relative;
    right: 0;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    border-bottom: 2px solid #516763;
    margin-bottom: 5%;
  }
  .navLinks {
    position: relative;
    display: flex;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
  }
  .nav:link {
    font-size: 2.5em;
    margin: 10%;
  }
  .nav:link.dark {
    font-size: 2.5em;
    margin: 15%;
  }
  #logo {
    transform: scale(2);
  }
  p {
    font-size: 1em;
  }
  .navbar {
    font-size: 10px;
  }
  .navLinks {
    font-size: 0.75em;
  }
  #ghPic {
    width: 100%;
    height: 25vh;
  }
}
