/*
Class gets . 
IDs get #
*/
/*
Color Palette
Mint Cream: #F0F7EE
Columbia Blue: C4D7F2
Non photo blue: AFDEDC
Ash gray: #516763

*/
body {
  background-color: #f0f7ee;
}
body.dark {
  background-color: #121212;
}
#darkmode {
  position: fixed;
  top: 75px;
  right: 20px;
  background-color: #f0f7ee;
  border-radius: 8px;
  font-size: 25px;
  border-color: black;
  border-width: 3px;
  text-align: right;
}

body.dark #darkmode {
  background-color: #121212;
  border-radius: 8px;
  font-size: 25px;
  border-color: #f0f7ee;
  border-width: 3px;
  color: #f0f7ee;
}

.navbar {
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
  border-bottom: 2px solid #516763;
  margin-bottom: 5%;
}
.navbar.dark {
  border-bottom: 2px solid #98d9c2;
}

.nav:link {
  font-size: 24px;
  margin: 100px;
  color: rgb(229, 8, 144);
}

.nav:visited {
  margin: 100px;
  color: #516763;
}

.nav:hover {
  color: rgb(254, 9, 54);
}

.nav:active {
  margin: 100px;
  color: rgb(91, 205, 3);
}

.nav.dark:link {
  font-size: 24px;
  margin: 100px;
  color: rgb(229, 8, 144);
}

.nav.dark:visited {
  margin: 100px;
  color: #abf7f3;
}

.nav.dark:hover {
  color: rgb(254, 9, 54);
}

.nav.dark:active {
  margin: 100px;
  color: rgb(91, 205, 3);
}

h1 {
  text-align: right;
  color: rgb(70, 80, 40);
  font-size: 3em;
}
h1.dark {
  color: #98d9c2;
}
#name {
  margin-left: auto;
}
p {
  color: rgb(60, 50, 30);
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5em;
  font-weight: 500;
  border-radius: 50%;
}
p.dark {
  color: #f0f7ee;
}

.pichead {
  margin-top: 75px;
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 75px;
  justify-content: center;
}

#homep {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5em;
  font-weight: 500;
  border-radius: 50%;
}

#homepic {
  height: 400px;
  width: 325px;
  padding: 50px;
  border-radius: 50%;
  margin-right: auto;
}

#contact {
  display: block;
  background-color: #f0f7ee;
  border-color: rgb(60, 50, 30);
  border-radius: 10px;
  margin: auto;
  color: #516763;
}
#contact.dark {
  background-color: #121212;
  color: white;
  border-color: #98d9c2;
}

/*About Page CSS*/

.slideshowbox {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  height: 300px;
  width: 300px;
}
.buttons {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;

  gap: 30px;
}
#prev {
  left: auto;
  right: auto;
}
#next {
  margin-right: auto;
}

.mainContent {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

#ghPic {
  width: 100%;
  height: 50vh;
  margin-bottom: 5%;
}

#logo {
  position: absolute;
  width: 5%;
  left: 25px;
  top: 5px;
}

@media (max-width: 600px) {
  body {
    max-width: 100%;
  }
  html,
  body {
    overflow-x: hidden;
  }

  #darkmode {
    color: #121212;
    top: 5px;
  }
  .navbar {
    text-align: center;
    position: relative;
    right: 0;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    border-bottom: 2px solid #516763;
    margin-bottom: 5%;
    align-items: center;
  }
  .navLinks {
    position: relative;
    display: flex;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
  }
  .nav:link {
    font-size: 2.5em;
    margin: 10%;
  }
  .nav:link.dark {
    font-size: 2.5em;
    margin: 10%;
  }
  #logo {
    transform: scale(2);
  }
  .pichead {
    width: 40%;
    transform: scale(0.5);
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  #homep {
    font-size: 1em;
  }
  p {
    font-size: 1em;
  }
  .navbar {
    font-size: 10px;
  }
  .navLinks {
    font-size: 0.75em;
  }
}
