@import url("https://fonts.googleapis.com/css2?family=Syne:wght@600;700&family=DM+Sans:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mooli&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

/*
Class gets .
IDs get #
*/
/*
Color Palette
Mint Cream: #F0F7EE
Columbia Blue: C4D7F2
Non photo blue: AFDEDC
Ash gray: #516763

*/
:root {
  --bgl: #f0f7ee;
  --bgd: #121212;
  --mint: #98d9c2;
  --pblue: #afdedc;
}
.mooli-regular {
  font-family: "Mooli", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-mono-p {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 1;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
body {
  font-family: "DM Sans", sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--bgl);
}

#darkmode {
  position: fixed;
  top: 75px;
  right: 20px;
  background-color: #f0f7ee;
  border-radius: 8px;
  font-size: 25px;
  border-color: black;
  border-width: 3px;
  text-align: right;
}

section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
p {
  font-family: "Roboto Mono";
}
a:hover {
  color: #1a4d4a;
}

a:link {
  color: #2b7a78;
}
a:visited {
  color: #2b7a78;
}

.nav {
  font-family: "Roboto Mono";
  font-optical-sizing: auto;
}
#homePage {
}
#aboutPage {
}

.mainContent {
  display: flex;
  flex-direction: column;
}
.navbar {
  position: fixed;
  width: 100%;
  text-align: center;
  margin-top: 1%;
  justify-content: center;
}
.navLinks {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20%;
}

.pichead {
  display: flex;
  justify-content: center;
  gap: 10%;
  margin-top: 2%;
}
.picText {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  gap: 5%;
}
.bolden {
  font-weight: 900;
}
#homepic {
  width: 20%;
  border-radius: 50%;
}
#logo {
  position: absolute;
  top: 2%;
  left: 2%;
  height: 50px;
}
#name {
  margin-top: 5%;
}
.blurb {
  display: flex;
  justify-content: center;
}
#homep {
  width: 50%;
  text-align: center;
}
/* Dark */
body.dark {
  background-color: var(--bgd);
}
p.dark {
  color: var(--bgl);
}
h1.dark {
  color: var(--mint);
}
a.dark {
  color: var(--pblue);
}

body.dark #darkmode {
  background-color: #121212;
  border-radius: 8px;
  font-size: 25px;
  border-color: #f0f7ee;
  border-width: 3px;
  color: #f0f7ee;
}

/*  Mobile */
@media (max-width: 600px) {
  body {
    max-width: 100%;
  }
  html,
  body {
    overflow-x: hidden;
  }

  #darkmode {
    color: #121212;
    top: 5px;
  }
  .navbar {
    text-align: center;
    position: relative;
    right: 0;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    border-bottom: 2px solid #516763;
    margin-bottom: 5%;
    align-items: center;
  }
  .navLinks {
    width: 100%;
  }
  .nav:link {
    font-size: 2.5em;
    margin: 10%;
  }
  .nav:link.dark {
    font-size: 2.5em;
    margin: 10%;
  }
  #logo {
    transform: scale(2);
  }
  .pichead {
    width: 40%;
    transform: scale(0.5);
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  #homep {
    font-size: 1em;
  }
  p {
    font-size: 1em;
  }
  .navbar {
    font-size: 10px;
  }
  .navLinks {
    font-size: 0.75em;
  }
}
